<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex do Manoel</title>
    <link rel="stylesheet" href="../detalhes.css">
</head>
<body>

    <header>
        <%- include('./partials/header.ejs') %>
    </header>

    <main>
        <section id="cards">
            <div class="card">
                    <img src="<%= idoloVasco.img %>" alt="">
                    <h2><%= idoloVasco.nome %></h2>
                    <p class="descricao"> Gols pelo Vasco: <%= idoloVasco.quantosgols %></p>
                    <p class="descricao"> Nasceu em: <%= idoloVasco.anonascimento %></p>
                    <span>Posição: <%= idoloVasco.posicao %></span>
            </div>        
            
        </section>
    </main>

    

</body>
</html>