<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Idolos Vasco</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
        <%- include('./partials/header.ejs') %>

    <main>
        <section id="cards">

        <% idolosVasco.forEach((element) => { %>
        <a href="/detalhes/<%= element.id %>">
        <div class="card">
                    <p><%= element.nome %></p>
                    <img src="<%= element.img %>" alt="">
                <section class="btn-container">
                    <a href="/edit/<%= element.id %> ">
                        <img class="edit-icon" src="/img/lapisimg.png" alt="edit icon">
                     </a>
                    <a href="/delete/<%= element.id %> ">
                        <img class="delete-icon" src="/img/deleteimg.png" alt="delete icon">
                    </a>
                </section>
                    
        </div>
            <% }) %>
            </a>
            </section>
    </main>

    

</body>
</html>